*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


.page-container{
  display: flex;
}

.sidebar-container{
  background-color:rgb(21, 4, 37);
  width:20%;
  height:100vh;
  padding:10px;
  
  display: flex;
  flex-direction: column;
  position: relative;
}



.sidebar-heading{
  color:#fff;
  font-size:20px;
  margin-bottom:30px;
}
.sidebar-title{
  color:#6d6b6b;
  font-size:16px;
}

.icons{
  color:#6d6b6b;
  font-size:16px;
}

.arrow-icon{
  color:#6d6b6b;
  font-size:12px;
  padding-top:6px;
}

.arrow-icon-1{
  color:#f0eded;
  font-size:12px;
  padding-top:6px;
}

.sidebar-title-container1{
  background-color: rgb(38, 15, 61);
  display: flex;
  justify-content: space-between;
  padding:10px;
  color:white;
  border-radius:10px;
}
.sidebar-title-container{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding:10px;
}

.sidebar-avatar-container{
  background-color: rgb(38, 15, 61);
  padding:10px;
  line-height:10px;
  border-radius:10px;

  display: flex;
  position: absolute;
  top:82%;
}

 

.sidebar-img{
  border-radius:50px;
  width:40px;
  height:40px;
  margin:10px;
}

.sidebar-title1{
  color:#fff;
  font-size:18px;
  padding-top:10px;
}

.sidebar-para{
  color:#6d6b6b;
  font-size:12px;
}

.avatar-icon{
  padding-top:20px;
  padding-left:40px;
  color:#6d6b6b;
}

.right-sidebar-container{
  padding:40px;
  background-color:rgb(214, 211, 211);
  width:80%;
}

.top-name{
  font-size:20px;
  font-weight:800;
}

.name-icon{
  color:gold;
}

.rst-card{
  background-color:white;
  display: flex;
  padding:6px;
  width:250px;
  border-radius:10px;
  margin:10px;
}

.rst-card-title{
  color:#6d6b6b;
  line-height: 5px;
}

.dollar-icon{
  color:green;
  font-weight:600;
  font-size:20px;
  padding-top:24px;
  padding-left:30px;
}

.order-icon{
  color:purple;
  font-weight:600;
  font-size:20px;
  padding-top:24px;
  padding-left:27px;
}

.money-icon{
  color:rgb(42, 42, 133);
  font-weight:600;
  font-size:20px;
  padding-top:24px;
  padding-left:24px;
}

.bag-icon{
  color:rgb(245, 40, 50);
  font-weight:600;
  font-size:20px;
  padding-top:24px;
  padding-left:24px;
}

.icon-container{
  background-color: lightgreen;
  width:70px;
  height:70px;
  border-radius:50px;
  margin:15px;
}

.icon-container2{
  background-color: rgb(238, 157, 238);
  width:70px;
  height:70px;
  border-radius:50px;
  margin:15px;
}

.icon-container3{
  background-color:lightblue;
  width:70px;
  height:70px;
  border-radius:50px;
  margin:15px;
}

.icon-container4{
  background-color:rgb(228, 122, 192);
  width:70px;
  height:70px;
  border-radius:50px;
  margin:15px;
}

.rst-card-value{
  font-weight:900;
  line-height:5px;
}

.content-cont{
  padding-top:25px;
}

.rst-card-span{
  color:#6d6b6b;
}
.arrowup{
  color:green;
  font-weight:600;
  font-size:14px;
}

.arrowdown{
  color:rgb(248, 21, 21);
  font-weight:600;
  font-size:14px;
}

.rsidebar-top-card-container-1{
  display: flex;
}


.rsidebar-middle-page-wrapper{
  display: flex;
}

.rsidebar-top-card-container-2{
  background-color: #fff;
  margin:10px;
  padding:15px;
  border-radius:10px;
  width:700px;
  height:220px;
}

.rsidebar-top-card-container-3{
  background-color: #fff;
  margin:10px;
  padding:15px;
  border-radius:10px;
  width:300px;
  height:220px;
}

.card2-name-container{
  display: flex;
  justify-content: space-between;
}

.top-card-name h4{
    font-size:18px;
    font-weight:650;
    line-height: 5px;
}

.top-card-name p{
  color:#6d6b6b;
  font-weight:600;
}

.select-card select{
  background-color: lightgrey;
  border:none;
  padding:5px;
  border-radius:8px;
}

.option{
  color:#6d6b6b;
  font-weight:600;
}

.bar-card-container{
  display:flex;
 margin-left:80px;
}

.bar-card{
  display: flex;
  flex-direction: column;
  height:150px;
}

.bar-1{
  width:30px;
  height:100%;
  background-color:lightgrey;
  border-radius:10px;
  margin:3px;
  margin-top:30px;
}
.bar-2{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:70px;
  border-radius:10px;
}
.bar-3{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:10px;
  border-radius:10px;
}
.bar-4{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:50px;
  border-radius:10px;
}
.bar-5{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:20px;
  border-radius:10px;
}
.bar-6{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:80px;
  border-radius:10px;
}
.bar-7{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:20px;
  border-radius:10px;
}
.bar-8{
  width:30px;
  height:100%;
  background-color:rgb(22, 10, 51);
  margin:3px;
  border-radius:10px;
}
.bar-9{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:10px;
  border-radius:10px;
}
.bar-10{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:40px;
  border-radius:10px;
}
.bar-11{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:55px;
  border-radius:10px;
}
.bar-12{
  width:30px;
  height:100%;
  background-color:lightgrey;
  margin:3px;
  margin-top:40px;
  border-radius:10px;
}

.customer-card-title{
  font-weight:800;
  font-size:24px;
  line-height:10px;
}

.customer-card-para{
  color:#6d6b6b;
  font-weight:600;
}

.customer-circle1{
  border:20px solid rgb(23, 15, 39);
  width:120px;
  height:30px;
  margin-left:20%;
  border-radius:50%;
  padding-right:10px;
  padding-left:10px;
  padding-top:20px;
  padding-bottom:60px;
}

.rside-endpage-container{
  background-color:white;
  height:200px;
  width:980px;
  border-radius:10px;
  margin-left:10px;
  padding:10px;
}

.emdpage-title-container{
  display: flex;
  justify-content: space-between;
  margin-bottom:3px;
}
.endpage-title{
  font-weight:800;
  font-size:16px;
}
.endpage-input{
  background-color:lightgray;
  border:0;
  padding:6px;
  border-radius:10px;
  margin-right:10px;
}
.endpage-select{
  background-color:lightgray;
  color:rgb(75, 74, 74);
  border:0;
  padding:6px;
  border-radius:10px;
}

.productpage-imgRow{
  display: flex;
}

.productImg{
  width:100px;
  height:50px;
  border-radius:10px;
  margin-right:6px;
}

.productpage-title{
  font-size:18px;
   font-weight:800;
   line-height:8px;
   padding-top:10px;
}

.product-name{
  width:600px;
}

.stock{
   width:120px;
   text-align: center;
}

.price{
   width:120px;
   text-align: center;
}

.tsales{
   width:120px;
   text-align: center;
}

.stock-text{
  text-align: center;
  color:rgb(129, 127, 127);
}
.table-price{
  text-align: center;
  font-weight:800;
}
.table-sales{
  text-align: center;
  color:rgb(129, 127, 127);
}


















 


















